

h1{
    color: #FFFFFF;
}

.button{

background: #FFFFFF;
width: 300px;
height: 45px;
border-radius: 4px;
border-color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #2148C0;
}
.button:hover{
    background: #ffffffbe;
}

.input{
    width: 300px;
    height: 45px;
   /* border-color: #9b9a9a;*/
    border-width: 1px;
    border-radius: 2px;
    background-color: #040741;
    color: #7e7e7e;
    border-color: #FFFFFF
}
